# Large data files
**/data/raw/
**/data/processed/**/*.mp4
**/data/processed/**/*.webm
**/data/extractions/dataset_full_backup_*.csv

# Python
**/__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints

#Docs
**/docs/

# IDEs
.vscode/
.idea/

# Modelss
!models/pose_landmarker_lite.task
!models/pose_model_best_97acc.keras

# Scratch files
scratch/
